@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

@theme {
  --color-bgColor: #f3f5f8;
  --color-primaryBlue: #335cff;
  --color-csGray: "#6B7280";
  --color-darkbg: #0e121b;
  --color-darkBorder: #22242f;
  --color-bgCard: #232530;
  --color-bgTag:#2B303B
}
@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-bgColor  m-auto dark:text-white dark:bg-bgCard;
}
ul li {
  @apply list-none;
}

.navlink {
  @apply flex w-full items-center justify-between gap-2 rounded-md px-2.5 py-3 font-medium;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
